<div class="row">
<h1 class="text-center font-bold">List of All Transections</h1>
  <div class="flex-row">
     <%= form_tag transactions_url, method: :get do %>
       <%= text_field_tag 'search[date_from]', @search.date_from, class: "m-1 p-1 w-1/3 rounded-md" %>
       <%= text_field_tag 'search[date_to]', @search.date_to, class: "m-1 p-1 w-1/3 rounded-md" %>
       <%= submit_tag 'Search', class: 'btn search-button', class: "bg-green-50 rounded-md p-1" %>
     <% end %>
  </div>
</div>

  <div>
    <% @total_amount = 0 %>
    <% @transactions.each do |transaction| %>           
        <% @total_amount += transaction.amount %>
    <% end %>
     <h5 class="m-3 p-3 bg-white text-terciary text-center text-2xl w-max">Total for all categories: $<%= @total_amount %></h5>
  </div> 



  <% @transactions.each do |transaction| %>
    <%= render transaction %>
    <p class="font-bold text-yellow-300">
      <%= link_to "Show this transaction", transaction %>
    </p>
  <% end %>
</div>
<p class="font-bold text-green-400"> <%= link_to "New transaction", new_transaction_path %> </p>

